---
# Day 5
# While Loop

In [36]:
# # concept of while loop
# i = 0
# n = 100
# while i<n:
#     print(i)
#     i = i+10

In [37]:
# x = int(input("Enter the value"))
# i = 1
# while i <= 10:
#     print(x*i)
#     i = i+1

In [38]:
# # infinite loop
# age = 32
# while age<18:
#     print("you can vote")

In [39]:
# using else condition in the while loop
# count = 0
# while(count<25):
#     count = count + 1
#     print("Hello Students")
# else:
#     print("this is the else block")

In [40]:
# for loop
# fruits = ['apple','banana','cherry']
# for x in fruits:
#     print(x)

In [41]:
# looping through a string
# for x in 'cherry':
#     print(x)

In [42]:
# for x in range(3,25,4):
#     print(x)

---
# Day - 6
## User Define Function

In [43]:
# creating a user define function

# def my_function():
#     print("Hello class")
#     print("we are learning python")

In [44]:
# my_function()

In [45]:
# def my_contact():
#     print("Contact details of school:")
#     print("Delhi Public School:")
#     print("Address: 123, ABC Street, Delhi.")
#     print("Phone number: +91-11-4567890123.")
#     print("Email address: delhipublicschool@gmail.com")

In [46]:

# for i in range(1):
#     a = input("Name of the School")
#     b = int(input("enter the marks of maths"))
#     c  = int(input("enter the marks of science"))
#     b = int(input("enter the marks of social"))

#     print()
#     my_contact()

# Arguments

In [47]:
# def my_function(fname):
#     print(fname + " " + "sharma")

# my_function('Puja')
# my_function('Priya')
# my_function('Prashant')

In [48]:
# def my_function(fname,lname):
#     print(fname + " " + lname)

In [49]:
# my_function("Shreya","Verma")

In [50]:
# write a program to calculate the electricity bill
# if 700 unit used : pay Rs 10 for each unit
# if 1000 unit used : pay Rs 15 for each unit
# if  more then 1000 unit used : pay Rs 20 for each unit

In [51]:
# def electricity_bill(n):
#     if n < 500:
#         print('Your bill is Rs : ', n*5)
#     elif n > 500 and n <= 700:
#         print("Your bill is Rs :", n*10)
#     elif n>700 and n<=1000:
#         print("Your bill is Rs : ", n*15)
#     elif n>1000:
#         print("Your bill is Rs :",n*20)

In [52]:
# for i in range(3):
#     a = input("enter the name of the customer")
#     b = int(input("enter the unit of electricity you have used"))
#     electricity_bill(n)

In [53]:
# This function will calculate the total cost of electricity usage
# def calculate_electricity_bill(unit_cost, units_used):
#     total_cost = unit_cost * units_used
#     return total_cost

# # This function will display the details of the bill
# def display_bill_details(customer_name, units_used, unit_cost, total_cost):
#     print(f"Customer Name: {customer_name}")
#     print(f"Units Used: {units_used}")
#     print(f"Unit Cost: {unit_cost}")
#     print(f"Total Cost: {total_cost}")

# # Input Section
# customer_name = input("Enter Customer Name: ")
# unit_cost = float(input("Enter Unit Cost: "))
# units_used = int(input("Enter Units Used: "))

# # Calculate the total cost
# total_cost = calculate_electricity_bill(unit_cost, units_used)

# # Display the bill details
# display_bill_details(customer_name, units_used, unit_cost, total_cost)

---
# Day 07
# Indexing of strings

In [54]:
a = 'Hello Students'
b = 'How your studies going on'
# for i in a:
#     print(i)
print(a[-6])
print(a[6])
print(b[5])

u
S
o

# Slicing in strings

In [55]:
s = 'Hello Students how are you'
print(s[0:5])
print(s[6:14])
print(s[15:18])
print(s[19:23])
print(s[23:26])

Hello
Students
how
are
you

# Reverse Function

In [56]:
print(s[::-1])

uoy era woh stnedutS olleH

# Len Finction

In [57]:
# finding the length of string

len(a) + len(b) + len(s)

65

# Upper Method

In [58]:
print(s.upper())

HELLO STUDENTS HOW ARE YOU

# Lower Method

In [59]:
print(s.lower())

hello students how are you

# Capitilize Function

In [60]:
print(s.capitalize())

Hello students how are you

# Replace Function

In [61]:
 s = "Hello students how are you"
print(s.replace("hello",'bye'))

Hello students how are you

In [62]:
a = "hello how are you"
print(a.replace("hello" , "Brother"))

Brother how are you

# Find Method

In [63]:
a = 'python is great'
b = a.find('g')
print(b)

10

In [64]:
a = 'python is great'
b = a.find('a')
print(b)

13

--------
# Day - 8

# Python List

In [65]:
# create a list 
my_list = ['apple','banana','cherry']
print(my_list)
print(type(my_list))

['apple', 'banana', 'cherry']
<class 'list'>

In [66]:
# Allow duplicates
b = ['a','a','b','b']
print(b)

['a', 'a', 'b', 'b']

In [67]:
# data type
list = ['apple',11,'ram',21,0.213,True,-12]
print(list)

['apple', 11, 'ram', 21, 0.213, True, -12]

In [68]:
# length of list
print(len(list))

7

In [69]:
# access items
list = ['apple',11,'ram',21,0.213,True,-12]
print(list[6])

-12

In [70]:
# slicing the list
print(list[2:6:2])

['ram', 0.213]

In [71]:
# change items
list = ['apple',11,'ram',21,0.213,True,-12]
list[1]= 'queen'
list[4]= 'Ram'
list[3]= 'Vikas'

print(list)

['apple', 'queen', 'ram', 'Vikas', 'Ram', True, -12]

In [72]:
# change a range of item values
list = ['apple',11,'ram',21,0.213,True,-12]

list[1:3] = [100,200]

print(list)

['apple', 100, 200, 21, 0.213, True, -12]

In [73]:
# add a values in a list

list = [1, 2, 3, 4, 5]

list.append(6)

print(list)

[1, 2, 3, 4, 5, 6]

In [74]:
# REMOVE A ITEM IN A LIST

list = [1,2,3,4,5,6,7,8,9]

list.remove(5)


print(list)

[1, 2, 3, 4, 6, 7, 8, 9]

In [75]:
# REVERSE A LIST 
list = [1,2,3,4,5,6,7,8,9]

list.reverse()
list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [76]:
# Sum of all numbers in a list 
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(len(l))

a = 0
for i in range(13):
    a = a + l[i]
    i = i+2
print("The sum of a list is",a)

13
The sum of a list is 475

In [77]:
# multiply all the numbers in a list 
a = [1,2,3,4,5,6,7,8,9,10]
print(len(a))

10

# Day - 9

In [78]:
# Creating a tuple
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [79]:
# Mixed tuple
my_tuple = (1,"hello", 3.2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.2, (4+5j))
<class 'tuple'>

In [80]:
#empty tuple
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [81]:
# nested tuple

a = ('data', [1,3,4],{4,5,6})
print(a)
print(type(a))

('data', [1, 3, 4], {4, 5, 6})
<class 'tuple'>

In [82]:
# creating a tuple with only one variable
var1 = ('hello',)
print(var1)
print(type(var1))  # this will show that it is now a tuple.

('hello',)
<class 'tuple'>

In [83]:
# tuple construtor
a = tuple(('a','b','c'))
print(type(a))  # <class 'tuple'>
print(a)

<class 'tuple'>
('a', 'b', 'c')

In [84]:
# indexing a tuple
a = (1,2,3,45,6,74,8,9)
print(f"Original Tuple: {a}")
print(a[5])

Original Tuple: (1, 2, 3, 45, 6, 74, 8, 9)
74

In [85]:
a = (1,2,3,45,6,74,8,9,'data','python')
print(a[9])
print(len(a))

print(a[5])

python
10
74

In [86]:
a = (1,2,3,45,6,74,8,9)
print(a[0:6])
print(a[3:8])
print(a[0:2:8])

(1, 2, 3, 45, 6, 74)
(45, 6, 74, 8, 9)
(1,)

In [87]:
# reverse tuple
a = (1,2,3,45,6,74,8,9)
print(a[::-1])

(9, 8, 74, 6, 45, 3, 2, 1)

In [88]:
t = (1,1,1,2,2,2,3,4,5,5,6)
print(t)

(1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 6)

In [89]:
t = (1,1,1,2,2,2,3,4,5,5,6)
y = list(t)
y.append(6373)
a = tuple(y)
print(a)

TypeError: 'list' object is not callable

In [ ]:
# loops in tuple
thistuple = ('a','b','c')
for x in thistuple:
    print(x)

a
b
c

In [ ]:
# join two tuple
t1 = ('a','b','c')
t2 = (1,2,3)
t3 = t1+t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# multiply tuple
t1 = ('a','b','c')
b = t1*5
print(b)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [ ]:
t = ()
i = 0
while i<=5:
    num = int(input("enter the values please:"))
    t = t+(num,)
    i = i+1
    print(t)

(10,)
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 60)

 # Day - 10

 ## Dictonery in python

In [ ]:
# Creating a dictonery
a = {
    '10':"123ab",
    'color':'black',
    'year':1964
}
print(a)
print(type(a))

{'10': '123ab', 'color': 'black', 'year': 1964}
<class 'dict'>

In [ ]:
a = {
    '10':"123ab",
    'color':'black',
    'year':1964
}
print(a['color'])
print()

black

In [ ]:
a = {
    '10':"123ab",
    'color':'black',
    'year':1964,
    'year':3000
}
print(a)

{'10': '123ab', 'color': 'black', 'year': 3000}

In [ ]:
# dictonery lenght
a = {
    '10':"123ab",
    'color':'black',
    'year':1964
}
print(len(a))

3

In [ ]:
b = a = {
    '10':"123ab",
    'color':'black',
    'year':1964,
    'a':[1,2,3,4,5],
    'b':(2.2,4,5.4),
    'c':False
}
print(b)

{'10': '123ab', 'color': 'black', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.2, 4, 5.4), 'c': False}

In [ ]:
a = dict(name = 'vikas',age = 26,country = 'India')
print(a)
print(a['age'])

{'name': 'vikas', 'age': 26, 'country': 'India'}
26

In [ ]:
a = dict(name = 'vikas',age = 26,country = 'India')
print(a.get('name'))

vikas

In [ ]:
a = dict(name = 'vikas',age = 26,country = 'India')
a['age']= 40
a

{'name': 'vikas', 'age': 40, 'country': 'India'}

In [ ]:
a = dict(name = 'vikas',age = 26,country = 'India')
x = a.keys()
y = a.values()
x
y

dict_values(['vikas', 26, 'India'])

In [ ]:
a = dict(name = 'vikas',age = 26,country = 'India')
a.clear()

a
type

type

In [ ]:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}
dict3 = {5:50,6:60}
dict4 = {}
for d in (dict1,dict2,dict3):dict4.update(d)
print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d = dict()
for x in range(1,16):
    d[x] = x**2

# Day - 11  SETS

In [ ]:
dict1 = {1:10,2:20,3:30,4:40,5:50,6:60}
def is_key_present(x):
    if x in dict1:
        print('key is present in the dictonery')
    else:
        print('key is not present in the dictonery')
is_key_present(2)
is_key_present(9)

key is present in the dictonery
key is not present in the dictonery

In [ ]:
# creating a set

a  = {'animal','ball','cat'}
print(a)
print(type(a))

{'cat', 'ball', 'animal'}
<class 'set'>

In [ ]:
# set items are unordered
a = {'animal','ball','cat'}
print(a)

{'cat', 'ball', 'animal'}

In [ ]:
# duplicates are not allowed in the set
a = {'animal','ball','cat','ball','cat','animal'}
print(a)

{'cat', 'ball', 'animal'}

In [ ]:
#  True and 1 considered the same value
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
print(len(a))
a

8

{1, 2, 3, 4, 'True', 'animal', 'ball', 'cat'}

In [ ]:
# set items-- Data Types
x1 = {1,2,3,4}
x2 = {1.2,1.2,1,2,3}
x3 = {'a','b','c'}
x4 = {True,False}
print(x1,x2,x3,x4)

{1, 2, 3, 4} {1.2, 2, 3, 1} {'b', 'c', 'a'} {False, True}

In [ ]:
x5 = {(1,2,3,4,5)}
x5

{(1, 2, 3, 4, 5)}

In [ ]:
# set constructer
a = set({'vikas','ram'})
print(a)
print(type(a))

{'vikas', 'ram'}
<class 'set'>

In [ ]:
a = set()
print(type(a))

<class 'set'>

In [ ]:
# Access Items
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
for x in a:
    print(x)

1
2
3
4
cat
ball
True
animal

In [ ]:
# chesk if item present in the set
# check if the item in the set
print('animal' in a)

True

In [ ]:
print(12 in a)

False

In [ ]:
# add item in the set
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
a.add(122)
print(a)

{1, 2, 3, 4, 'cat', 'ball', 'True', 122, 'animal'}

In [ ]:
# update item in a set
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
x5 = {(1,2,3,4,5)}
a.update(x5)
print(a)

{1, 2, 3, 4, 'cat', 'ball', 'True', 'animal', (1, 2, 3, 4, 5)}

In [ ]:
# remove item from the set
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
a.remove('ball')
print(a)

{1, 2, 3, 4, 'cat', 'True', 'animal'}

In [ ]:
# clear, pop function
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
a.pop()
a.clear()
print(a)

set()

In [ ]:
# delete set
a = {'animal','ball','cat','ball','cat','animal',1,1,2,3,4,'True'}
del a

In [ ]:
# join two sets
x1 = {1,2,3,4}
x2 = {1.2,1.2,1,2,3}
z = x1.union(x2)
print(z)

{1, 2, 3, 4, 1.2}

In [90]:
# write a python program to  find the max and min values
x = {5,10,3,15,2,20} 
print("Original set elements")
print(x)
print("max values of the set")
print(max(x))
print('minimum values of the set')
print(min(x))

Original set elements
{2, 3, 20, 5, 10, 15}
max values of the set
20
minimum values of the set
2

In [91]:
# return a new set of identical items from the set
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,80}
print(set1.intersection(set2))

{40, 50, 30}

In [95]:
a = {10,20,30,40,50,60,70,80,90,100}
print(len(a))
print(max(a))
print(min(a))

10
100
10